.contacts {
    background: url(../images/main/backgroundElement3.png) left bottom no-repeat, url(../images/main/backgroundElem4.png) right top no-repeat;
    
    .title {
        font-size: 2.4rem;
        line-height: 4.4rem;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #065749;
        padding-top: 3.1rem;
        font-family: "NeoSansCyrRegular";
    }

    .subtitle {
        font-size: 2.4rem;
        line-height: 3.2rem;
        text-align: center;
        letter-spacing: 0.03em;
        color: #000000;
        mix-blend-mode: multiply;
        font-family: "SourceSansPro";
        padding-left: 21.5rem;
        padding-right: 21.5rem;

        @include breakpoint($xl-bp) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .contentContainer {

    }
}