.contacts {
    background: url(../images/main/backgroundElement3.png) left bottom no-repeat, url(../images/main/backgroundElem4.png) right top no-repeat;
    
    .title {
        font-size: 2.4rem;
        line-height: 4.4rem;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #065749;
        padding-top: 3.1rem;
        font-family: "NeoSansCyrMedium";
    }

    .subtitle {
        font-size: 2.4rem;
        line-height: 3.2rem;
        text-align: center;
        letter-spacing: 0.03em;
        color: #000000;
        mix-blend-mode: multiply;
        font-family: "SourceSansPro";
        padding-left: 21.5rem;
        padding-right: 21.5rem;

        @include breakpoint($xl-bp) {
            padding-left: 1rem;
            padding-right: 1rem;
        }
    }

    .contentContainer {
        display: flex;
        justify-content: space-between;
        padding-left: 23.2rem;
        padding-right: 19.6rem;
        align-items: center;
        padding-top: 3.9rem;
        padding-bottom: 16.7rem;

        

        @include breakpoint($cos_bp) {
            padding-left: 10rem;
            padding-right: 10rem;
        }

        @include breakpoint($xl-bp) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include breakpoint($mb-bp) {
            flex-direction: column;
        }


        .leftContainer {
            display: flex;
            flex-direction: column;
            gap: 2.7rem;

            @include breakpoint($mb-bp) {
                width: 100%;
                margin-bottom: 2rem;
            }

            .item:last-child {
                margin-top: 2rem;
            }

            .requesitsContainer {
                display: flex;
                gap: 1.5rem;
                img {
                    width: 7%;
                }
            }

            .item {
                display: flex;
                align-items: center;
                font-family: "NeoSansCyrRegular";
                font-size: 1.6rem;
                line-height: 2.2rem;
                color: #606060;

                a {
                    font-family: "NeoSansCyrRegular";
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    color: #606060;
                    text-decoration: none;
                }

                a:hover {
                    text-decoration: underline;
                }

                .adress {
                    width: 38.8rem;
                }

                .watsUpIco {
                    width: 2.3rem;
                    height: 2.5rem;
                    fill: #B7975A;
                }
    
                .viberIco {
                    width: 2.3rem;
                    height: 2.6rem;
                    fill: #B7975A;
                    margin-left: 0.6rem;
                }
    
                .imgContainer {

                    

                    .pointIco {
                        margin-right: 2.3rem;
                    }
    
                    .mailIco {
                        width: 2.8rem;
                        height: 1.9rem;
                        fill: #B7975A;
                        margin-right: 1.9rem;
                    }
    
                    .phoneIco {
                        width: 1.8rem;
                        height: 3.2rem;
                        fill: #B7975A;
                        margin-right: 2.3rem;
                    }
    
                    
                }

                .phoneContainer {
                    display: flex;
                }
            }

           
        }


        .rightContainer {
            width: 50%;

            @include breakpoint($mb-bp) {
                width: 100%;
            }

            .title {
                font-family: 'Roboto';
                font-style: normal;
                font-weight: 500;
                font-size: 2rem;
                line-height: 2.5rem;
                text-align: center;
                color: #065749;
                margin-bottom: 3.2rem;
                padding-top: 0;
            }

            form {
                display: flex;
                flex-direction: column;
                gap: 2rem;

                input {
                    font-size: 1.6rem;
                    line-height: 2.2rem;
                    display: flex;
                    align-items: center;
                    color: rgba(96, 96, 96, 0.7);
                    font-family: "NeoSansCyrRegular";
                    padding-left: 1.5rem;
                    padding-top: 1.3rem;
                    padding-bottom: 1.7rem;
                    
                }

                input:focus {
                    outline: 0.3rem solid #008B73;
                }

                .licenceContainer {
                    display: flex;
                    gap: 3.2rem;
                    justify-content: end;

                    @include breakpoint($sm-bp) {
                        flex-wrap: wrap;
                        justify-content: start;
                    }

                    .licence {



                        p {
                            font-family: 'Roboto';
                            font-style: normal;
                            font-weight: 400;
                            font-size: 1.3rem;
                            line-height: 1.5rem;
                            color: #878787;
                            a {
                                text-decoration-line: underline;
                                color: #393246;
                            }
                        }
                    }

                    

                    button {
                        background: linear-gradient(180deg, #DEBF82 0%, #B7975A 100%);
                        font-size: 1.8rem;
                        line-height: 2.5rem;
                        text-align: center;
                        color: #00372E;
                        display: flex;
                        align-items: center;
                        gap: 0.5rem;
                        border: none;
                        filter: drop-shadow(1px 2px 2px rgba(0, 0, 0, 0.5));
    
                        @include breakpoint($lb-bp) {
                            font-size: 1.5rem;
                        }
    
                        svg {
                            fill: transparent;
                            width: 1.6rem;
                            height: 1.6rem;
                        }
                    }
                }
            }
        }
    }
}