.productsItem {
    background: url(../images/main/backgroundElement3.png) left bottom no-repeat, url(../images/main/backgroundElem4.png) right top no-repeat;
    padding-bottom: 18.5rem;

    .title {
        font-size: 2.4rem;
        line-height: 4.4rem;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #065749;
        padding-top: 3.1rem;
        font-family: "NeoSansCyrRegular";
    }

        .navContainer {
            display: flex;
            padding-left: 15.5rem;
            padding-right: 15.5rem;
            justify-content: space-between;
            padding-bottom: 8.1rem;
            margin-top: 5.3rem;

            
            @include breakpoint($xl-bp) {
                padding-left: 1rem;
                padding-right: 1rem;
            }

            @include breakpoint($mb-bp) {
                padding-left: 1rem;
                padding-right: 1rem;
                justify-content: center;
                row-gap: 2rem;
                column-gap: 2rem;
            }

            

            @include breakpoint($sm-bp) {
                flex-wrap: wrap;
            }

            button {
                font-family: "SourceSansPro2";
                display: flex;
                align-items: center;
                justify-content: center;
                width: 17%;
                padding-top: 0.6rem;
                padding-bottom: 0.7rem;
                background: none;
                border: 0.1rem solid #606060;

                font-size: 1.8rem;
                line-height: 2.5rem;
                letter-spacing: 0.03em;
                text-transform: uppercase;
                color: #606060;

                

                @include breakpoint($cos_bp) {
                    width: 20%;
                }

                @include breakpoint($mb-bp) {
                    width: 23%;
                }

                @include breakpoint($sm-bp) {
                    width: 47%;
                }
            }

            button:hover {
                background: #f6ead9;
            }

            .active {
                font-family: "SourceSansPro";
                background: linear-gradient(180deg, #DEBF82 0%, #B7975A 100%);
                font-size: 1.8rem;
                line-height: 2.5rem;
                letter-spacing: 0.03em;
                text-decoration-line: underline;
                text-transform: uppercase;
                color: #00372E;
            }
        }
    
    .contentContainer {
        display: flex;
        gap: 13rem;
        align-items: center;
        justify-content: center;

        @include breakpoint($ssh-bp) {
            justify-content: unset;
            padding-left: 15.5rem;
        }

        @include breakpoint($xl-bp) {
            padding-left: 1rem;
            padding-right: 1rem;
        }

        @include breakpoint($mb-bp) {
            gap: 3rem;
            flex-wrap: wrap;
            justify-content: center;
        }

        .imgContainer {

            img {
                width: 100%;
            }
        }

        .textContainer {
            display: flex;
            flex-direction: column;
            gap: 2.8rem;

            
            .title {
                font-family: "SourceSansPro";
                font-size: 3.2rem;
                line-height: 4.4rem;
                color: #065749;
                text-align: start;
            }

            .subtitle {
                p {
                    font-family: "SourceSansPro2";
                    font-size: 1.6rem;
                    line-height: 2.8rem;
                    color: #606060;
                }

                span {
                    font-family: "SourceSansPro";
                    color: #000000;
                }
            }
        }
    }
}