<div class="menu">
    <div class="crossContainer">
        <svg class="cross">
            <use href="#crossIco"></use>
        </svg>
    </div>
    <p>Очистка, переработка и фасовка зерновых и бобовых</p>
    <a href="#">О КОМПАНИИ</a>
    <a href="#">Продукты</a>
    <a href="#">Услуги</a>
    <a href="#">Контакты</a>    
</div>

<div class="overlay"></div>


<div class="header">

    
    <a href="#" class="logoContainer">
        <img src="../assets/images/header/logo.png" alt="#">
    </a>

    <!-- <div class="helperContainer"> -->
        <div class="menuContainer">
            <p class="title">Очистка, переработка и фасовка зерновых и бобовых</p>
            <div class="menuItems">
                <a href="#">О КОМПАНИИ</a>
                <a href="#">Продукты</a>
                <a href="#">Услуги</a>
                <a href="#">Контакты</a>
            </div>
        </div>

        
    
        <div class="contactsContainer">
            <div class="languageContainer">
                <div>
                    <a class="active" href="">ru</a>
                    <a href="">eng</a>
                </div>
                <button>
                    <div>Сотрудничать</div>
                    <svg>
                        <use href="#arrowUpIco"></use>
                    </svg>
                </button>
            </div>
            <div class="phoneContainer">
                <div class="imgContainer">
                    <div>
                        <svg>
                            <use href="#watsUpIco"></use>
                        </svg>
                    </div>
                    <div>
                        <svg>
                            <use href="#viberIco"></use>
                        </svg>
                    </div>
                </div>
                
                <div>
                    <a href="tel:+79281033931" class="phone">
                        +7 928 103 39 31
                    </a>
                </div>
                
            </div>
        </div>

        <div class="menuBtn">
            <svg>
                <use href="#burgerIco"></use>
            </svg>
        </div>
        
    <!-- </div> -->

   
    
</div>

